---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

Experts, authority and the ontopolitics of the International at the International Sanitary Conference of 1892, 15th Pan-European Conference on International Relations, Athens, September 2022.

The making of a traveler’s diarrhea: A contribution to the postcolonial sociology of medicine, Annual conference Society for the Advancement of Socio-Economics, Mini-conference Decolonizing Development (organized by Julian Go, Zophia Edwards, and Alexandre White), Amsterdam, July 2022.

Constituting International Politics as Governing the In-Between. The Objectual Politics of the International Sanitary Conference of 1892, Objects of Expertise II. The Politics of Socio-Material Expert Knowledge in World Society, workshop at the Graduate Institute for International and Development Studies, Geneva, June 2022.

Policies of inequity. The expert politics of policy design in the history of diarrheal diseases, Research colloquium of the research group “The Multiplication of Authorities in Global Governance Institutions (MAGGI)”, Max Planck Institute for Comparative Public Law and International Law, Heidelberg, May 2022.

Policies of inequity in the history of diarrheal diseases, Swiss International Political Sociology Series, December 2021.

On magic bullets and the rise of modern international expertise: Policy designs against cholera at the International Sanitary Conference of 1892, Objects of Expertise: The Politics of Socio-Material Expert Knowledge in World Society, workshop at Bielefeld University, May 2021.
Anarchy and what professions make in it: The global policy history of diarrhea and a classical realist theory of professions, International Studies Association, 2021 Annual Convention, Las Vegas, April 2021.

Warum setzen internationale GesundheitsexpertInnen auf Zauberkugeln? Autoritätsabhängige Interventionskonstruktion auf der Internationalen Sanitärkonferenz von 1892, Soziologische Perspektiven auf die Corona-Krise, WZB Berlin Social Science Center, February 2021.

Branching off from the lab: International and domestic professionals and the policy history of diarrhea, Working group International Political Sociology of the German Political Science Association, Gießen, November 2019.

The global guilds of diarrhea: Expert conflicts about policies against diarrhea in the Indian-US
space, 13th Pan-European Conference on International Relations, Sofia, September 2019. (with Tine Hanrieder): The Cultural Gaze in Global Health: A Community Health Worker Program for American Indians, 13th Pan-European Conference on International Relations, Sofia, September 2019.

Inside the guts of governance: Transnational policy practices against diarrhea in the US-Indian space, Conference for Junior Researchers of the German Political Science Association, Tutzing, April 2018.

Competing Measurement Regimes in Global Health Politics, Bi-annual Meeting of the German Political Science Association, Bremen, October 2017.

Measurement regimes. On the relation of metrics and global health politics. Workshop ‘Critical Global Health’, European Workshops in International Studies (EWIS), Cardiff, July 2017.

The DALYzation of Global Health. The production and application of the Disability-Adjusted-Life-Years Index. Workshop ‘Global Governance Fields beyond Fragmentation and Complexity. Emergence, Effects and Discursive Underpinnings of Interorganizational Relations’, WZB Berlin Social Science Center, November 2016.